body {
  /* background-image: url("./../assets/Background.png"); */
  background-image: url("./../assets/WEBPNA.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

/* .main {
  height: 100%;

  background-size: cover;
  position: fixed;
} */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: gray;
}
